.hero-unit {
  background-image:url('http://66.media.tumblr.com/ee16a7fb46958d544e3e113bfbe3b5e7/tumblr_nn016pe4pv1r6x3d2o1_1280.jpg');
  background-size:cover;
  background-color: #EEEEEE;
  height:300px;
}
.main-content {
  margin-top: 375px;
}
img {
  max-width: 50%;
  display: block;
  margin: 20px auto;
}

.author-style{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: solid 5px black;
  margin-left: 0px;
}

.tiny-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: solid 1px black;
  margin-left: 0px;
}

ul {
  list-style: none;
}

.carousel-img {
  max-width: 400px;
  max-height: 400px;
  /*margin-left: 30%;*/
}

#huge {
  font-size: 135px;
}

.title {
  margin-top: 10px;
  font-size: 25px;
}
.index-story {
  margin-top: 10px;
  margin-bottom: 30px;
}
.sub-header {
  color: lightgray;
  font-size: 15px;
  margin-bottom: 10px;
}
.highlight {
  background-color: lightblue;
}
.time {
  color: lightgray;
  font-size: .8em;
}
.tag {
  font-weight: bold;
}
.new-form {
  background-color: lightgray;
  border-radius: 5px;
  padding: 10px;
}
.textarea-group {
  vertical-align: middle;
}
