<h1>Administrative Page</h1>
<ul>
  {{#each model as |story|}}
    <li><span class="glyphicon glyphicon-trash" {{action 'delete' story}}>&nbsp;</span>{{story.title}}&nbsp;{{#link-to 'update' story.id}}<span class ="glyphicon glyphicon-pencil"></span>{{/link-to}}</li>
  {{/each}}
</ul>
{{new-story save="save"}}
