<nav class="navbar navbar-default navbar-fixed-top">
  <div class="hero-unit" id="topContent">
  </div>
  <div class="container-fluid">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">BustleRipoff</a>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">News</a></li>
        <li><a href="#">Entertainment</a></li>
        <li><a href="#">Fashion &amp; Beauty</a></li>
        <li><a href="#">Lifestyle</a></li>
        <li><a href="#">Books</a></li>
        <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
{{outlet}}
</div>
